{{#each line.elements as |element|}}
    {{#if element.hasPlus}}
        <i id={{element.plusId}} class="fa fa-minus-square-o plus-icon" {{action (action attrs.toggleExpand) element.plusId}}></i>
    {{/if}}
    {{#if element.isBlank}}
        <span class={{element.class}}>
            &nbsp;&nbsp;
        </span>
    {{/if}}
    {{#unless element.isBlank}}
        <span class={{element.class}} style={{element.style}}>
            {{element.element}}
        </span>
    {{/unless}}
{{/each}}
{{#each line.lines as |line|}}
    <div data-id={{line.plusId}} class="new-line">
        {{ember-line line=line toggleExpand=attrs.toggleExpand}}
    </div>
{{/each}}
